body {
  background-color: #f7f7f7;
  color: #555d79
}

* {
    -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.btn-primary {
  background-color: #ffc19d !important;
  color: #f7f7f7 !important;
  border: #ffc19d;
}



@media only screen and (max-width: 991px) {
  .search {
    margin-top: .5em !important;
  }
  .menu-nav {
    margin-top: 1px !important;
  }
  
  .menuIcon i {
    /* width: 200px !important; */
    text-align: left !important;
    margin-left: 1em !important;
  }
  
  .search-form {
    border-radius: 25px 25px 25px 25px !important;
    color: red;
  }

  .icon-search {
    margin-left: 0.5em !important;
  }

  .search {
    /* float: left !important; */
  }
}

/* .test {
  border-radius: 25px !important;
  background-color: #f7f7f7 !important;
  width: 30px;
  height: 30px;
  text-align: center;
  margin:auto;
} */