body {
  background-color: #f7f7f7;
}

.navbar-light {
  background-color: #ffffff !important;
}

.search-form {
  background-color: #f7f7f7 !important;
  border-radius: 0 25px 25px 0 !important;
  border-left: 1px solid #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  color: #65676B;
}

.search-form-addon {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  border-radius: 25px 0 0 25px !important;
  color: #65676B;
}