body {
  background-color: #f7f7f7;
}

* {
    -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 991px) {
  .search {
    margin-top: .5em !important;
  }
  .menu-nav {
    margin-top: 1px !important;
  }
  i.bi {
    margin-left: -50px;
  }
}

/* .test {
  border-radius: 25px !important;
  background-color: #f7f7f7 !important;
  width: 30px;
  height: 30px;
  text-align: center;
  margin:auto;
} */