

.navbar-light {
    background-color: #ffffff !important;
    /* max-height: 55px !important;
    overflow: auto;
    overflow-x: hidden; */
  }
  
  .search-form {
    background-color: #f7f7f7 !important;
    border-radius: 0 25px 25px 0 !important;
    border-left: 1px solid #f7f7f7 !important;
    border-color: #f7f7f7 !important;
    color: #65676B;
  }
  
  .search-form-addon {
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
    border-radius: 25px 0 0 25px !important;
    color: #65676B;
  }
  
  .menuIcon {
    font-size: 18pt !important;
    /* margin-left: 25px; */
    width: 100px;
    text-align: center !important;
    border-radius: 25px;
  }
  
  .menuIcon:hover {
    background-color: #f7f7f7;
    border-radius: 25px;
  }
  
  .menu-nav>.menu-nav-item>.menuIcon>.active> {
    color: 	#8b9dc3 !important;
    border-bottom: 4px solid 	#8b9dc3;
    border-radius: 0;
  }
  
  .dmenu {
    margin-right: 100px;
  }